@model IEnumerable<EstacionamentoMVC.Models.RegistroEstacionamento>

@{
    ViewData["Title"] = "Registrar Entrada";
    var veiculos = ViewBag.Veiculos as List<Veiculo>;
}

<form asp-action="Index" method="post">
    <select name="veiculoId" class="form-select">
        @foreach (var v in veiculos)
        {
            <option value="@v.Id">@v.Modelo - @v.Placa</option>
        }
    </select>
    <button type="submit" class="btn btn-success mt-2">Registrar Entrada</button>
</form>


<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Veículo</th>
                <th>Entrada</th>
                <th>Saída</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var registro in Model)
            {
                <tr>
                    <td>@(registro.Veiculo?.Modelo) - @(registro.Veiculo?.Placa)</td>
                    <td>@registro.DataEntrada.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        <a asp-controller="RegistroEstacionamento" asp-action="ValidarEstacionamento"
                            asp-route-veiculoId="@registro.VeiculoId">Validar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>